apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: my-app
  labels:
    app: redis
spec:
  clusterIP: None        # Headless service for StatefulSet
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
