kind: StatefulSet
name: mysql-auth-service
replicaCount: 1

service:
  port: 3306

image:
  repository: mysql
  tag: 8.0

secret:
  name: mysql-auth-service-secret

config:
  name: mysql-auth-config

persistence:
  name: mysql-auth-data
  mountPath: /var/lib/mysql
  size: 5Gi

livenessProbe:
  exec:
    - sh
    - -c
    - mysqladmin ping -uroot -p$MYSQL_ROOT_PASSWORD
  initialDelaySeconds: 180
  periodSeconds: 30

readinessProbe:
  exec:
    - sh
    - -c
    - mysqladmin ping -uroot -p$MYSQL_ROOT_PASSWORD
  initialDelaySeconds: 120
  periodSeconds: 20
